ul	{
	
		list-style-type: none;	
}

li h3
{
		font-family: arial;
		font-weight: bold;
		font-size: 1.25em;
		padding-left: 3px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 0px;
}
ul li {
		
		border: 1px solid black;
		width: 35%;
		padding-top: 3px;
		background-color: rgb(160,160,160);
}

ul li:hover {
		background-color: rgb(130,120,130);
		color: rgb(255,255,255);
		border: 2px solid yellow;
}

li p
{
	font-family: arial;
	font-size: .7em;
	line-height: 1;
	background-color: rgb(25,25,25);
	color: white;
	margin-bottom: 0px;
	margin-top: 0px;
}